<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">



<test thread-count="5" name="SFDC">

<parameter name="browser" value="chrome"/>

<classes>
      <class name="basicAnnotation2.TestClass3"/>
      <class name="basicAnnotation2.TestClass2">
      <methods>
      <exclude name="test2"/>
      
      </methods>
      </class>
      
    </classes>
  </test> <!-- Test -->


<test thread-count="5" name="CAS">

<parameter name="browser" value="firefox"/>

<classes>
      <class name="basicAnnotation2.TestClass4"/>
      <class name="basicAnnotation2.TestClass5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
